<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>каталог котов</title>
</head>
<body>
<form>
<p><button formaction="/catalog">загрузить котов из файла</button></p>
<p><input placeholder="введите имя файла" name="file"></p>
</form>

<div th:each="cats : ${list_of_cats}">
        <p>
            ID:<span th:text="${cats.id}"/>; Кличка: <span th:text="${cats.name}"/> окрас: <span th:text="${cats.color}"/> возраст: <span th:text="${cats.age}"/>
                </p>
            </div>
<p> <span th:text="${errorMsg}" /></p>
</body>
</html>